# Q5

In [19]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C:\Users\admin\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https:/www.billboard.com/')

In [4]:

ser=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
ser.click()

In [5]:
btn=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
btn.click()

In [8]:
link_hot = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
link_hot.click()

In [9]:
sng_nam=[]
Artist_name=[]
lw_rnk=[]
pk_rnk=[]
wk_brd=[]

In [10]:
s_nam=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
Artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')[0::4]

lwrn=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[3]')

pkrn=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]')

wkbr=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[5]')

In [11]:
for i in s_nam:
    sng_nam.append(i.text)
    
for i in Artist:
    Artist_name.append(i.text)
    
for i in lwrn:
    lw_rnk.append(i.text)
    
for i in pkrn:
    pk_rnk.append(i.text)
    
for i in wkbr:
    wk_brd.append(i.text)

In [13]:
print(len(sng_nam),len(Artist_name),len(lw_rnk),len(pk_rnk),len(wk_brd))

100 100 100 100 100

In [17]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rank:
    Rank.append(i.text)
Rank[0:12]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [14]:
Artist_name[0:10]

['Miley Cyrus',
 'SZA',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Taylor Swift',
 'Sam Smith & Kim Petras',
 'The Weeknd',
 'David Guetta & Bebe Rexha',
 'Drake & 21 Savage',
 'Harry Styles',
 'Lil Uzi Vert']

In [15]:
len(Artist_name)

100

In [18]:
table=pd.DataFrame({})
table['Rank']=Rank[:]
table['Song Name']=sng_nam[:]
table['Artist Types']=Artist_name[:]
table['Last Week Rank']=lw_rnk[:]
table['Peak Rank']=pk_rnk[:]
table['Weeks on Board']=wk_brd[:]
table

,Rank,Song Name,Artist Types,Last Week Rank,Peak Rank,Weeks on Board
0,1,Flowers,Miley Cyrus,1,1,3
1,2,Kill Bill,SZA,2,2,8
2,3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,4,Anti-Hero,Taylor Swift,3,1,15
4,5,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...,...
95,96,Hey Mor,Ozuna Featuring Feid,-,96,1
96,97,Gato de Noche,Nengo Flow & Bad Bunny,85,60,6
97,98,Heart To Heart,Mac DeMarco,83,83,3
98,99,Never Gonna Not Dance Again,P!nk,-,99,1
99,100,Dancin' In The Country,Tyler Hubbard,-,100,1

# Q6

In [57]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [58]:
Name=[]
Author_Name=[]
Volume_Sold=[]
Publisher=[]
Genre=[]

In [60]:
name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
auth=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
vol=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
pub=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
gen=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")

In [63]:
Rank=[]
rank=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

In [61]:
for i in name:
    Name.append(i.text)
for i in auth:
    Author_Name.append(i.text)
for i in vol:
    Volume_Sold.append(i.text)
for i in pub:
    Publisher.append(i.text)
for i in gen:
    Genre.append(i.text)

In [64]:
print(len(Name),len(Author_Name),len(Volume_Sold),len(Publisher),len(Genre),len(Rank))

100 100 100 100 100 100

In [66]:
table=pd.DataFrame({})
table['Rank']=Rank[:]
table['Book Name']=Name[:]
table['Author Name']=Author_Name[:]
table['Volumes Sold']=Volume_Sold[:]
table['Publisher']=Publisher[:]
table['Genre']=Genre[:]
table

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7

In [20]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [21]:
Nam_ser=[]
yr_span=[]
gen_sr=[]
rntm=[]
rat=[]
vots=[]

In [22]:
nam=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')

yrsp=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')

gensr=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[5]')

rntm_sr=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[1]/span[3]')

rat_sr=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
vot_sr=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')

In [23]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[1]')
for i in rank:
    Rank.append(i.text)

In [24]:
for i in nam:
    Nam_ser.append(i.text)
    
for i in yrsp:
    yr_span.append(i.text)
    
for i in gensr:
    gen_sr.append(i.text)
    
for i in rntm_sr:
    rntm.append(i.text)
    
for i in rat_sr:
    rat.append(i.text)
    
for i in vot_sr:
    vots.append(i.text)

In [25]:
print(len(Nam_ser),len(yr_span),len(gen_sr),len(rntm),len(rat),len(vots),len(Rank))

100 100 100 100 100 100 100

In [26]:
table=pd.DataFrame({})
table['Rank']=Rank[:]
table['Name']=Nam_ser[:]
table['Year Span']=yr_span[:]
table['Genre']=gen_sr[:]
table['Runtime']=rntm[:]
table['Rating']=rat[:]
table['Votes']=vots[:]
table

,Rank,Name,Year Span,Genre,Runtime,Rating,Votes
0,1.,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"2,121,383"
1,2.,Stranger Things,(2016â€“2024),"Drama, Fantasy, Horror",51 min,8.7,"1,209,671"
2,3.,The Walking Dead,(2010â€“2022),"Drama, Horror, Thriller",44 min,8.1,"1,006,003"
3,4.,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"296,887"
4,5.,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"255,844"
...,...,...,...,...,...,...,...
95,96.,Reign,(2013â€“2017),Drama,42 min,7.4,"50,700"
96,97.,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"62,579"
97,98.,Criminal Minds,(2005â€“ ),"Crime, Drama, Mystery",42 min,8.1,"202,656"
98,99.,Scream: The TV Series,(2015â€“2019),"Comedy, Crime, Drama",45 min,7.1,"42,020"
99,100.,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,469"

# Q8

In [83]:
driver.get('https://archive.ics.uci.edu/')

In [86]:
serch=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
serch.click()

In [87]:
Name_d=[]
dtype=[]
d_task=[]
att_type=[]
inst_no=[]
att_no=[]
dyear=[]

In [89]:
named_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
dtype_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
d_task_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
att_type_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
inst_no_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
att_no_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
dyear_ds=driver.find_elements(By.XPATH,"//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")

In [90]:
for i in named_ds:
    Name_d.append(i.text)
    
for i in dtype_ds:
    dtype.append(i.text)
    
for i in d_task_ds:
    d_task.append(i.text)
    
for i in att_type_ds:
    att_type.append(i.text)
    
for i in inst_no_ds:
    inst_no.append(i.text)
    
for i in att_no_ds:
    att_no.append(i.text)
    
for i in dyear_ds:
    dyear.append(i.text)

In [91]:
print(len(Name_d),len(dtype),len(d_task),len(att_type),len(inst_no),len(att_no),len(dyear))

622 623 623 623 623 623 623

In [92]:
table=pd.DataFrame({})
table['Name']=Name_d[:]
table['Data Types']=dtype[1:]
table['Default Task']=d_task[1:]
table['Attribute types']=att_type[1:]
table['Number of Instances']=inst_no[1:]
table['Number of Attributes']=att_no[1:]
table['Year']=dyear[1:]
table

,Name,Data Types,Default Task,Attribute types,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021